<h1 class="text-center"><%= pluralize(@product.count, "Result")%></h1>
<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@query,:destination, "Destination")%></th>
        <th><%= sort_link(@query,:arrival_iata, "Arriving")%></th>
        <th><%= sort_link(@query,:departure_iata, "Departing")%></th>
      </tr>
    </thead>

    <tbody>
      <% @product.each do |product| %>
      <tr>
        <td><%= link_to product.destination, product%></td>
        <td><%= link_to product.arrival_iata, product%></td>
        <td><%= link_to product.departure_iata, product%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<div>