<div id="<%= dom_id flight %>">
  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

  <p>
    <strong>Flight date:</strong>
    <%= flight.flight_date %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= flight.arrival_time %>
  </p>

  <p>
    <strong>Departure iata:</strong>
    <%= flight.departure_iata %>
  </p>

  <p>
    <strong>Arrival iata:</strong>
    <%= flight.arrival_iata %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= flight.price %>
  </p>

  <p>
    <strong>Vaccancy:</strong>
    <%= flight.vaccancy %>
  </p>

</div>
