<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ticket_id, style: "display: block" %>
    <%= form.number_field :ticket_id %>
  </div>

  <div>
    <%= form.label :destination, style: "display: block" %>
    <%= form.text_field :destination %>
  </div>

  <div>
    <%= form.label :flight_date, style: "display: block" %>
    <%= form.datetime_field :flight_date %>
  </div>

  <div>
    <%= form.label :departure_time, style: "display: block" %>
    <%= form.datetime_field :departure_time %>
  </div>

  <div>
    <%= form.label :arrival_time, style: "display: block" %>
    <%= form.datetime_field :arrival_time %>
  </div>

  <div>
    <%= form.label :departure_iata, style: "display: block" %>
    <%= form.text_field :departure_iata %>
  </div>

  <div>
    <%= form.label :arrival_iata, style: "display: block" %>
    <%= form.text_field :arrival_iata %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :vaccancy, style: "display: block" %>
    <%= form.check_box :vaccancy %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
