<p style="color: green"><%= notice %></p>

<details>
  <summary> Shopping Cart </summary>
  <% if @cart.empty? %>
    <p>Uh oh. It's empty! 😢</p>
  <% else %>
    <ul>
    <% @cart.each do |flight| %>
      <li> <%= flight.destination %> $<%= flight.price %> <%= link_to 'Remove', remove_from_cart_path(flight.ticket_id), method: :get, class: 'link-warning'%></li>
    <% end %>
    </ul>
  <% end %>
</details>

<h1>Flights</h1>
<div id="flights">
<%= paginate @flight%>
<div class="d-flex">
  <div class="row lg-12 md-12 m-3 p-2">
  <% @flight.each do |flight| %>
    <div class="col lg-4 md-4">
        <div class="card bg-secondary m-3 p-3 text-center" style="width: 18rem;">
            <% if flight.image.present?%>
            <div class="card-img-top thumbnail">
              <%= image_tag(flight.image, :class => "rounded thumbnail")%>
            </div>
           <% end %>
            <div class="card-body">
              <div id="<%= dom_id flight %>">
                <h5 class="card-title">
                  <%= truncate flight.destination, :length => 20 %>
                </h5>

                <p>
                  <strong><%= flight.flight_date.strftime("%A, %B %e, %Y") %></strong>
                </p>

                <p>
                  <strong><%= flight.departure_iata %> ➟ <%= flight.arrival_iata %></strong>
                </p>

                <p>
                  $<%= flight.price.to_f / 100 %>
                </p>
              </div>
              <p>
                <%= link_to "See Flight Details", flight, class: 'btn btn-dark' %>
                <% if @cart.include?(flight)%>
                <%= button_to 'Remove', remove_from_cart_path(flight.ticket_id), method: :get, class: 'btn btn-warning'%>
                <% else %>
                <%= link_to "Add to Cart", add_to_cart_path(flight.id), method: :get, class: 'btn btn-light mt-3' %>
                <% end %>
              </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<%= paginate @flight%>
</div>
