<div id="<%= dom_id travelguide %>">
  <p>
    <strong>Blog:</strong>
    <%= travelguide.blog_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= travelguide.admin_id %>
  </p>

  <p>
    <strong>Blog title:</strong>
    <%= travelguide.blog_title %>
  </p>

  <p>
    <strong>Blog desc:</strong>
    <%= travelguide.blog_desc %>
  </p>

  <p>
    <strong>Blog content:</strong>
    <%= travelguide.blog_content %>
  </p>

  <p>
    <strong>Date published:</strong>
    <%= travelguide.date_published %>
  </p>

</div>
