<div id="products">
<%= paginate @products%>
<div class="d-flex">
  <div class="row lg-12 md-12 m-3 p-2">
  <% @product.each do |product| %>
    <div class="col lg-4 md-4">
        <div class="card bg-secondary m-3 p-3 text-center" style="width: 18rem;">
            <% if product.image.present?%>
            <div class="card-img-top thumbnail">
              <%= image_tag(product.image, :class => "rounded thumbnail")%>
            </div>
           <% end %>
            <div class="card-body">
              <div id="<%= dom_id product %>">
                <h5 class="card-title">
                  <%= truncate product.destination, :length => 20 %>
                </h5>

                <p>
                  <strong><%= product.flight_date.strftime("%A, %B %e, %Y") %></strong>
                </p>

                <p>
                  <strong><%= product.departure_iata %> ➟ <%= product.arrival_iata %></strong>
                </p>

                <p>Book for:
                  $<%= product.price.to_f / 100 %>
                </p>
              </div>
              <p>
                <%= link_to "See Flight Details", product, class: 'btn btn-dark' %>
                <% if cart.include?(product)%>
                  <%= button_to cart_path(product), method: :delete, class: 'btn btn-light' do%>
                  Remove From Cart
                <% end %>
                <% else %>
                  <%= form_with url: cart_index_path, method: :post do %>
                    <%= hidden_field_tag(:id, product.id) %>
                    <div class="d-inline-flex">
                    <%= button_tag 'Add To Cart',class: 'btn btn-light' %>
                    </div>
                  <% end %>
                <%end %>
              </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<%= paginate @products%>