<div id="<%= dom_id product %>">
  <p>
    <strong>Destination:</strong>
    <%= product.destination %>
  </p>

  <p>
    <strong>Flight date:</strong>
    <%= product.flight_date %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= product.departure_time %>
  </p>

  <p>
    <strong>Departure iata:</strong>
    <%= product.departure_iata %>
  </p>

  <p>
    <strong>Arrival iata:</strong>
    <%= product.arrival_iata %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
