<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light display-1">FRONTAIRE</h1>
        <p class="lead display-6">Get Close to the Sun™</p>
      </div>
    </div>
  </div>
</header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background: rgb(42,75,86); background: linear-gradient(114deg, rgba(42,75,86,1) 0%, rgba(65,94,104,1) 100%);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "frontaire.png", height: 30 %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Home', flights_path, class: 'nav-link text-white' + active_class(flights_path) %>
        </li>
        <li class="nav-item">
          <%= link_to 'Travel Guides', travelguides_path, class: 'nav-link text-white' + active_class(travelguides_path)%>
        </li>
        <li class="nav-item">
          <%= link_to 'Customer Support', customersupport_path, class: 'nav-link text-white' + active_class(customersupport_path) %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu" style="background: rgb(42,75,86); background: linear-gradient(114deg, rgba(42,75,86,1) 0%, rgba(65,94,104,1) 100%);">
            <% if user_signed_in?%>
              <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item text-white' %>
              <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'dropdown-item text-white' %>
            <% else %>
              <%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item text-white' %>
              <%= link_to 'Login', new_user_session_path, class: 'dropdown-item text-white' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'About', about_path, class: 'dropdown-item text-white' %>
            <% end %>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <%= render 'search/form' %>
      </form>
    </div>
  </div>
</nav>

