<!DOCTYPE html>
<html>
  <head>
    <title>Frontaire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "custom", media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="text-white bg-dark">
    <%= render "layouts/navbar" %>
    <div class="m-5">
      <%= yield %>
    </div>
  </body>
</html>